/* BASELINE DOCUMENT STYLES */

:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --background:  #111827;
  --text-color-heading: #93C5FD;
  --text-color-body: #F9FAFB;
  --text-color-muted: #374151;
}

*{
  box-sizing: border-box;
  margin: 0px;
}

body {
  background: var(--background);
  font-family: var(--font-sans);
  color: var(--text-color-body);
  display: grid;
  grid-template-rows: 1fr 3.2em;
  min-height: 100vh;
  justify-items: center;
}

/* MAIN ELEMENT STYLES */

main {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, p {
  text-align: center;
}

h1 {
  color: var(--text-color-heading);
  font-size: 2.8em;
  margin: 0.5em;
}

p {
  font-size: 1.8em;
}

p > code {
  padding: 0.25em; 
  background: var(--text-color-muted);
  border-radius: 4px;
}

/* FOOTER STYLES */

footer > p {
  font-size: 1em;
  margin: 1em;
  color: var(--text-color-muted);
}

footer > p > a {
  color: var(--text-color-heading);
}

/* MOBILE STYLES */
@media screen and (max-width: 800px){
  h1 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.2em;
  }
}